<?xml version="1.0"?>

<launch>
	<include file="$(find tara_2dnav)/launch/camera.launch"/>
	
<!--	<group>
		<machine name="tara" address="10.42.0.1" user="ubuntu" env-loader="/home/ubuntu/catkin_ws/env.sh" default="true" />
		<include file="$(find tara_firmware)/launch/diff_drive.launch"/>
	</group>
-->	
	<!--<node pkg="$(find tara_2dnav)" type="init_connection" name="init_connection" output="screen"/>
		<param name="ip" value="10.42.0.1"/>
		<param name="user" value="ubuntu"/>
-->
	<!-- Tf from base_link -> camera_link-->
	<node pkg="tara_firmware" type="tf_broadcaster" name="tara_tf_publisher" output="screen"> </node>
</launch>
